<div class="container">
  <div class="alert alert-dark" role="alert">
    <a href="/services" class="alert-link">All services</a>
  </div>
<%= form_for @service do |o| %>
  <div class="form-group">
    <%= o.label :name %>
    <%= o.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= o.label :description %>
    <%= o.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= o.label :description %>
    <%= o.text_field :description, class: 'form-control' %>
  </div>
  <%= o.submit class: 'btn btn-primary' %>
<% end %>
</div>
