<div class="container">
  <div class="alert alert-dark" role="alert">
    <a href="/users" class="alert-link">All users</a>
  </div>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :login %>
      <%= f.text_field :login, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.text_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :age %>
      <%= f.text_field :age, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :mail %>
      <%= f.text_field :mail, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :awards %>
      <%= f.text_field :awards, class: 'form-control' %>
    </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>