<div class="container">
  <div class="alert alert-dark" role="alert">
    <a href="/orders" class="alert-link">All orders</a>
  </div>
<%= form_for @orders do |o| %>
  <div class="form-group">
    <%= o.label :status %>
    <%= o.text_field :status, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= o.label :comment %>
    <%= o.text_field :comment, class: 'form-control' %>
  </div>
  <%= o.submit class: 'btn btn-primary' %>
<% end %>
</div>