<div class="container"><div class="alert alert-dark" role="alert">
  <a href="/subjects" class="alert-link">All subjects</a>
</div>
<%= form_for @subject do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>